html
	head
		title= person.name
		style
			include style.css
	body
		h1= person.name

			table
				tr
					th Name
					th Address
					th Phone
				tr
					td= person.name
					td= person.address
					td= person.phone

